body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
    height: 75px;
    color: rgb(137, 35, 35);
    font-size: 30px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#player-container{
    display: flex;
}


.players{
    font-size: 28px;
    margin: 30px;
}

/* #one,
#two{
    display: flex;
    flex-direction: column;
} */

#one{
    color: red;
}

#two{
    color: blue;
}

#board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.boardSquare{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}